@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant+SC:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {background-color: rgb(255, 255, 255);}


/*To style heading for the website*/


h2{font-family: 'Cormorant SC', serif;
margin: 40px; }
h3{font-family: 'Cormorant Infant', serif;
margin: 40px;}
/*
grid
*/
.column {
    float: left;
    width: 33.333333%;
    padding: 10px;
    margin:auto;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  li {font-family: 'Cormorant SC', serif;
font-size: large;
color: white;}

.navbar-brand {
    font-family: 'Cormorant SC', serif;
    font-size: xx-large;
font-weight: 700;
}

.contact_page {padding: 30px;
margin-right: 30px;}

/*Style for grids*/
.grid-1 {display: grid;
grid-template-columns: 33.3333333% 33.3333333% 33.3333333%;
grid-template-rows: auto auto auto;}
.grid-2 {display: grid;
    grid-template-columns: 33.3333333% 33.3333333% 33.3333333%;
    grid-template-rows: auto auto auto;}
    .second_grid {background-color: black;
    color: white;
padding-top: 10px;}
.grid-1_2 {display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;}
    .grid-2_2 {display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;}



.selector_quality_list {
    display: grid;
    text-align: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    background-color: black;
    color: rgb(92, 121, 252);
}

footer {font-weight: 600;}


    /*

TO LINK FONT

font-family: 'Cormorant', serif;
font-family: 'Cormorant Infant', serif;
font-family: 'Cormorant SC', serif;
*/